<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus obcaecati debitis fugiat quod similique quia suscipit asperiores nostrum cupiditate saepe enim, aperiam nulla minima facere vitae voluptatem. Natus, id, nemo.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate saepe voluptatibus atque officiis, temporibus sunt labore quis accusantium quaerat voluptate eius. Praesentium magni alias repellat inventore, illo minus recusandae accusamus?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda ad dolorem voluptatum quisquam ullam, optio nostrum. Magni quasi ipsum labore vitae ab. Aspernatur eos eum sunt, quas libero eligendi!
        </p>
        {{> footer}}
    </body>
</html>